.body{
  color: #F4F7FC;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 62px;
  box-sizing: border-box;
  overflow-y: hidden;
  max-height: 100vh;
}
.logo{
  padding-top: 80px;
  height: 43px;
  position: sticky;
}
.content{
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 46px;
  color: #0B2253;
  font-weight: bold;
}
.contentLeft{
  margin-top: 30px;
  padding-top: 20px;
}
.subTitle{
  font-size: 30px;
  color: #B3BECF;
  font-weight: 500;
  margin-top: 25px;
}